* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Inconsolata-Normal;
  src: url(./fonts/Inconsolata-VariableFont_wdth_wght.ttf);
}
@font-face {
  font-family: Inconsolata-bold;
  src: url(./fonts/static/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: Inconsolata-ExtraBold;
  src: url(./fonts/static/Inconsolata-ExtraBold.ttf);
}

@font-face {
  font-family: Inconsolata-Medium;
  src: url(./fonts/static/Inconsolata-Medium.ttf);
}
@font-face {
  font-family: Inconsolata-Regular;
  src: url(./fonts/static/Inconsolata-Regular.ttf);
}
:root {
  /* Colors */
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(246, 15%, 58%);
  --Neutral-700: hsla(245, 19%, 35%, 0.793);
  --Neautral-transprent: rgba(75, 72, 106, 0.515);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  /* Fonts */
  --font-normal: "Inconsolata-Normal";
  --font-bold: "Inconsolata-Bold";
  --font-extra-bold: "Inconsolata-ExtraBold";
  --font-medium: "Inconsolata-Medium";
  --font-regular: "Inconsolata-Regular";
  /* Font-weight */
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  --font-800: 800;
}

.my-gradient-text {
  background-image: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  width: 100%;
  color: var(--Neutral-0);
  background-image: url(./images/background-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  min-height: auto;
  background-image: url(./images/pattern-lines.svg);
  background-position: center;
  background-size: cover;
}

.top-logo {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top-logo span {
  font-family: var(--font-bold);
  font-size: 25px;
}
.pattern-circle-1 {
  position: absolute;
  left: 60px;
  top: -90px;
}
.pattern-circle-2 {
  position: absolute;
  right: 200px;
  top: 300px;
}
.squiggly-line-bottom {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

.squiggly-line-top {
  position: absolute;
  top: 50px;
  right: 0;
}

.main-heading {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.main-heading h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font-bold);
}
.para-text {
  text-align: center;
  font-family: var(--font-medium);
  color: var(--Neutral-500);
  margin-top: 20px;
}

.my-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 9;
}
.lable {
  font-size: 16px;
  font-family: var(--font-regular);
  margin: 10px 0;
  color: var(--Neutral-300);
}
.upload-file {
  width: 100%;
  min-height: 80px;
  border: 1.5px dashed var(--Neutral-500);
  border-radius: 8px;
  background-color: var(--Neautral-transprent);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.small-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Neutral-700);
}
.upload-file span {
  font-size: 14px;
  font-family: var(--font-regular);
  color: var(--Neutral-500);
}
.error-lable {
  margin-top: 10px;
  font-size: 12px;
  font-family: var(--font-regular);
  display: flex;
  align-self: center;
  justify-content: start;
  gap: 5px;
  color: var(--Neutral-500);
}
.input-container {
  width: 100%;
  height: 50px;
  background-color: var(--Neautral-transprent);
  border-radius: 8px;
}
.input-container input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: var(--Neautral-transprent);
  border-radius: 8px;
  padding: 0 10px;
  color: var(--Neutral-0);
  font-size: var(--font-400);
  font-size: 15px;
}

.submit-btn {
  width: 100%;
  min-height: 50px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  background-color: var(--Orange-700);
  color: var(--Neutral-900);
  font-size: 15px;
  font-weight: var(--font-700);
}

@media (max-width: 768px) {
  body {
    background-image: url(./images/background-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pattern-circle-1,
  .pattern-circle-2,
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }
  .main-heading {
    max-width: 600px;
  }
  .main-heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  body {
    background-image: url(./images/background-tablet.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }
}

@media (max-width: 1200px) {
  body {
    background-image: url(./images/background-tablet.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }
}
