* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Inconsolata-Normal;
  src: url(./fonts/Inconsolata-VariableFont_wdth_wght.ttf);
}
@font-face {
  font-family: Inconsolata-bold;
  src: url(./fonts/static/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: Inconsolata-ExtraBold;
  src: url(./fonts/static/Inconsolata-ExtraBold.ttf);
}

@font-face {
  font-family: Inconsolata-Medium;
  src: url(./fonts/static/Inconsolata-Medium.ttf);
}
@font-face {
  font-family: Inconsolata-Regular;
  src: url(./fonts/static/Inconsolata-Regular.ttf);
}
:root {
  /* Colors */
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(246, 15%, 58%);
  --Neutral-700: hsla(245, 19%, 35%, 0.793);
  --Neautral-transprent: rgba(75, 72, 106, 0.515);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  /* Fonts */
  --font-normal: "Inconsolata-Normal";
  --font-bold: "Inconsolata-Bold";
  --font-extra-bold: "Inconsolata-ExtraBold";
  --font-medium: "Inconsolata-Medium";
  --font-regular: "Inconsolata-Regular";
  /* Font-weight */
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  --font-800: 800;
}

.my-gradient-text {
  background-image: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  width: 100%;
  color: var(--Neutral-0);
  background-image: url(./images/background-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  min-height: auto;
  background-image: url(./images/pattern-lines.svg);
  background-position: center;
  background-size: cover;
}

.top-logo {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top-logo span {
  font-family: var(--font-bold);
  font-size: 25px;
}
.pattern-circle-1 {
  position: absolute;
  left: 60px;
  top: -90px;
}
.pattern-circle-2 {
  position: absolute;
  right: 200px;
  top: 300px;
}
.squiggly-line-bottom {
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

.squiggly-line-top {
  position: absolute;
  top: 50px;
  right: 0;
}

.main-heading {
  width: 40%;
  margin: 0 auto;
}
.main-heading h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: var(--font-bold);
  margin-block: 32px;
}
.para-text {
  text-align: center;
  font-family: var(--font-medium);
  color: var(--Neutral-500);
  margin-block: 20px;
}

.my-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 9;
}

.lable {
  font-size: 16px;
  font-family: var(--font-regular);
  margin-bottom: 10px;
  color: var(--Neutral-300);
}
.upload-file {
  width: 100%;
  min-height: 90px;
  border: 1.5px dashed var(--Neutral-500);
  border-radius: 8px;
  background-color: var(--Neautral-transprent);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transition: border 100ms ease-in;
}

.upload-file:hover {
  border: 1.5px dashed var(--Orange-700);
}

.small-icon-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Neutral-700);
  transition: background-color 200ms ease-in-out;
}
.small-icon-box:hover {
  background-color: var(--Neautral-transprent);
  cursor: pointer;
}
.upload-file span {
  font-size: 14px;
  font-family: var(--font-regular);
  color: var(--Neutral-500);
}
.error-lable {
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--font-regular);
  display: flex;
  align-self: center;
  justify-content: start;
  gap: 5px;
  color: var(--Neutral-500);
  margin-bottom: 18px;
  font-weight: 500;
}
.input-container {
  width: 100%;
  height: 50px;
  /* background-color: var(--Neautral-transprent); */
  border-radius: 8px;
  margin-bottom: 32px;
}
.input-container input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: var(--Neautral-transprent);
  border-radius: 8px;
  padding: 0 10px;
  color: var(--Neutral-0);
  font-size: var(--font-400);
  font-size: 15px;
  transition-property: border, background-color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.28, 0.76, 0.79, 0.51);
}

.input-container input:hover {
  background-color: var(--Neutral-900);
  border: 1px solid var(--Neutral-0);
}
::placeholder {
  color: var(--Neutral-300);
  opacity: 0.7;
  font-size: 14px;
}

input:focus {
  border: 1px solid;
}

.submit-btn {
  width: 100%;
  min-height: 50px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  background-color: var(--Orange-700);
  font-size: 15px;
  font-weight: var(--font-700);
}

.submit-btn a {
  text-decoration: none;
  color: var(--Neutral-900);
}

/* Ticket Css */
.ticket-heading {
  width: 40%;
  margin: auto;
  line-height: 1.2;
}
.ticket-heading h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: var(--font-bold);
  margin-block: 32px;
}
.text {
  max-width: 20%;
  margin: auto;
}
.text p {
  font-weight: var(--font-400);
  line-height: 1.3;
  text-align: center;
  font-family: var(--font-medium);
  color: var(--Neutral-500);
  margin-block: 16px;
}
.text > p span {
  color: var(--Orange-700);
}

.ticket-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 50px;
}
.ticket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticket-img {
  width: 100%;
}

.ticket-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.full-logo {
  width: 100%;
}

.time-and-date {
  position: absolute;
  top: 60px;
  left: 66px;
  font-family: var(--font-regular);
}
.person-avatar-and-name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
}
.person-avatar-and-name img {
  width: 85px;
  border-radius: 8px;
}
.person-full-name {
  margin-inline-start: 10px;
}
.person {
  margin-top: 15px;
  font-size: 2rem;
  font-family: var(--font-regular);
  font-weight: var(--font-700);
  letter-spacing: 1px;
}
.github {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.github img {
  width: 24px;
  margin-right: 5px;
}
.github-username {
  font-family: var(--font-regular);
}

.ticket-number {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  font-family: var(--font-regular);
  font-weight: var(--font-500);
  transform: rotate(90deg);
  color: var(--Neutral-500);
}

/* ======================================================================================== */
@media (max-width: 768px) {
  body {
    background-image: url(./images/background-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .main-heading {
    width: 100%;
  }
  .main-heading h1 {
    font-size: 1.5rem;
    margin-block: 16px;
  }
  .pattern-circle-1,
  .pattern-circle-2,
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }

  /* Ticket */
  .ticket-heading {
    width: 100%;
  }
  .ticket-heading h1 {
    font-size: 1.5rem;
    margin-block: 20px;
  }
  .text {
    max-width: 100%;
  }
  .text p {
    padding: 10px;
  }

  .full-logo {
    max-width: 80%;
  }
  .time-and-date {
    display: block;
  }
  .person-avatar-and-name .avatar {
    max-width: 40px;
    min-height: 40px;
    align-self: flex-end;
  }
  .person-full-name {
    max-width: fit-content;
  }
  .person {
    font-size: 1.2rem;
    margin: 0;
    align-items: end;
  }
  .github {
    margin: 0;
  }
  .github img {
    width: 18px;
  }
  .github-username {
    font-size: 0.799rem;
  }
}

@media (max-width: 992px) {
  body {
    background-image: url(./images/background-tablet.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .ticket-heading {
    width: 70%;
  }
  .text {
    max-width: 50%;
  }

  /* .pattern-circle-1,
  .pattern-circle-2, */
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }

  /* ticket */
  .full-logo {
    max-width: 100%;
  }

  .person-full-name {
    max-width: fit-content;
  }
}

@media (max-width: 1200px) {
  body {
    background-image: url(./images/background-tablet.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .squiggly-line-bottom,
  .squiggly-line-top {
    display: none;
  }
}
