@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Nunito-Sans: "Nunito Sans", sans-serif;
  --font-300: 300;
  --font-600: 600;
  --font-800: 800;
  --Blue-900: hsl(209, 23%, 22%);
  --Blue-950: hsl(207, 26%, 17%);
  --Grey-950: hsl(200, 15%, 8%);
  --Grey-400: hsl(0, 0%, 50%);
  --Grey-50: hsl(0, 0%, 99%);
  --White: hsl(0, 100%, 100%);
}

body {
  font-size: 14px;
  font-family: var(--Nunito-Sans);
}
.header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-content {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: var(--font-800);
}

.main-container {
  padding: 24px;
}

.products-container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  flex-wrap: wrap;
}
a {
  text-decoration-line: none;
  color: inherit;
}

.product-card {
  display: inline-block;
  max-width: 250px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 200ms ease-in-out;
}

.product-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.product-card img {
  width: 100%;
  background-color: var(--Grey-950);
}
.card-text {
  padding-inline: 16px;
}
.card-text h3 {
  font-size: 14px;
  color: var(--Blue-950);
}
.card-text p + p {
  margin-block: 8px;
}
